.partners{
    height: 270px;
}

.partners-heading{
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-top: 94px;
margin-bottom: 50px;
}

.partners-cont{
    @extend %flex;
    @media screen and (max-width:481px) {
        display: block;
        
        padding-bottom: 15px;
    }
    @media screen and (min-width:482px) {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 100px);
    }
    @media screen and (min-width:1439px) {
       display: flex; 
    }
    
}

.partner{
    width: 170px;
height: 92px;
flex-shrink: 0;
border-radius: 4px;
border: 2px solid #AFB1B8;
margin-right: 30px;
@extend %flex;
align-items: center;
@media screen and (max-width:481px) {
    margin-bottom: 20px;
    margin-left: 70px;
}
}
.icon-Logo{
    color: #AFB1B8;
   font-size: 60px;
&1{
    color: #AFB1B8;
    font-size: 60px;
}  

&2{
    color: #AFB1B8;
    font-size: 60px;
}
&3{
    color: #AFB1B8;
    font-size: 60px;
}
&4{
    color: #AFB1B8;
    font-size: 60px;
    
}
&:hover{
    color: #2196F3;
    transition-duration: 250ms;
}
}

.icon-Logo1:hover{
    color: #2196F3;
    transition-duration: 250ms;
}

.icon-Logo2:hover{
    color: #2196F3;
    transition-duration: 250ms;
}

.icon-Logo3:hover{
    color: #2196F3;
    transition-duration: 250ms;
}

.icon-Logo4:hover{
    color: #2196F3;
    transition-duration: 250ms;
}

.partner:hover{
   border-color: #2196F3;
}